# Image files (all directories, case-insensitive extensions)
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[pP][nN][gG]
*.[gG][iI][fF]
*.[bB][mM][pP]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[wW][eE][bB][pP]
*.[hH][eE][iI][cC]
*.[hH][eE][iI][fF]
*.[aA][vV][iI][fF]
*.[sS][vV][gG]
*.[iI][cC][oO]

# macOS Finder metadata
.DS_Store
